*{
    padding:0;
    margin:1px;
}
#calculater{
    margin: auto;
    margin-top: 30px;
    border: solid 6px #2371D3;
    /* 表格边缘默认距离 */
    border-spacing: 1px;
}
#display{
    width: 100%;
    height: 30px;
    border-bottom: solid 4px #2371D3;
     font-weight: bold;
     color: #193D83;
    font-family: 黑体;
    padding-left: 2px;
}
.numberkey{
    /* 鼠标移上去变成小手 */
    cursor: pointer;
    width: 40px;
    height: 30px;
    border: solid 1px #FFFFFF;
    background: #2371D3;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-family: 黑体;
}
#equality{
   cursor: pointer;
   width: 40px; 
   height: 100%;
   background: #2371D3;
    border: solid 1px #FFFFFF;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-family: 黑体; 
}
.numberkey:hover{
   background: #EA6F30; 
}
#equality:hover{
   background: #EA6F30; 
}