*{
    margin:0;
    padding:0;
}

body{
    background:#333;
}
.box{
    width: 800px;
    height:280px;
    margin:50px auto;
    /* overflow 属性规定当内容溢出元素框时发生的事情。 */
    overflow: hidden;
}
.box .link{
    display: inline-block;
    width:205px;
    height:280px;
    float:left;
    margin:0 20px;
    position: relative;
}
/* 
transition 属性是一个简写属性，用于设置四个过渡属性:
transition-property规定设置过渡效果的 CSS 属性的名称。
transition-duration规定完成过渡效果需要多少秒或毫秒。
transition-timing-function规定速度效果的速度曲线。
transition-delay定义过渡效果何时开始。
 */
.link .icon{
    display: block;
    width:100%;
    height:190px;
    /* 设置按钮变形过度效果 */
    transition:0.2s ease-out;
    /* 适应各种浏览器 */
    -moz-transition:0.2s ease-out; 
    -webkit-transition:0.2s ease-out;
    -o-transition:0.2s ease-out;
}
.link-miss .icon{
    background:url(./images/mission.png) no-repeat center 0; 
}
.link-play .icon{
    background:url(./images/play.png) no-repeat center 0; 
}
.link-touch .icon{
    background:url(./images/touch.png) no-repeat center 0; 
}

 /* 
    transform 属性向元素应用 2D 或 3D 转换。该属性允许我们对元素进行旋转、缩放、移动或倾斜
 */
.link .icon:hover{
    /* 变形的角度 3D旋转360度 沿着x,y轴*/
    transform: rotate(360deg) scale(1.2);
    -ms-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
    -webkit-transform: rotate(360deg) scale(1.2);
    -o-transform: rotate(360deg) scale(1.2);
}
.button{
    display:block;
    width:180px;
    height:50px;
    line-height:50px;
    text-decoration:none;
    position:relative;
    color:#2DCB70;
    font-size: 18px;
    font-family:Arial;
    font-weight:bold;
    border:2px solid rgba(255, 255, 255, 0.8);
    padding-left: 20px;
    margin:0 auto;
/* 
box-sizing 属性允许以特定的方式定义匹配某个区域的特定元素。
 */
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:url(./images/allow.png) no-repeat 130px center;
    transition:0.4s ease;
    -moz-transition:0.4s ease; 
    -webkit-transition:0.4s ease;
    -o-transition:0.4s ease;
}
.button:hover{
    border:2px solid rgba(255, 255, 255, 1);
    background-position: 140px center;
}
.button .line{
    -moz-transition:ease 0.4s;
    -o-transition:ease 0.4s;
    -webkit-transition:ease 0.4s;
    transition:ease 0.4s;
    position:absolute;
    background:none;
}
/* 设置线条动态效果：由点变成线 */
.button:hover .line{
    background: #fff;
}
/* 上 */
/* 初始 */
.button .line-top{
    height:2px;
    width:0px;
    left:-110%;
    top:-2px;
}
/* 结束 */
.button:hover .line-top{
    width:100%;
    left:-2px;
}
/* 右 */
.button .line-right{
    width:2px;
    height:0px;
    right:-2px;
    top:-110%;
}
.button:hover .line-right{
    height:100%;
    top:-2px;
}
/* 下 */
.button .line-bottom{
    width:2px;
    height:0px;
    right:-2px;
    bottom:-110%;
}
.button:hover .line-bottom{
    height:100%;
    bottom:-2px;
}
/* 左 */
.button .line-left{
    height:2px;
    width:0px;
    right:-110%;
    top:-2px;
}
/* 结束 */
.button:hover .line-left{
    width:100%;
    right:-2px;
}

/* 设置弹框的属性 */
.tip{
    position:absolute;
    padding:0px 14px;
    height: 35px;
    line-height:35px;
    background:#2DCB70;
    color:#fff;
    font-size:16px;
    margin:0 auto;
    border-radius:3px;
    -ms-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    top:160px;
    opacity: 0;
}
.tip em{
    font-style:normal;
}
.tip span{
    display: block;
    width:0;
    height:0;
    overflow:hidden;
    border:7px solid transparent;
    border-top-color:#2DCB70;
    position:absolute;
    top:35px;
    /* left:50%; */
    margin-left:-3px;
}